<section id="write" class="container">
    <div class="page-title">{{ title }}</div>

    <form id="form" action="/admin/change-password" method="post">

        {{{csrfTag}}}

        <div class="writeContents">
            <div class="wr-wrap line label200">
                <div class="wr-list">
                    <div class="wr-list-label">Old password</div>
                    <div class="wr-list-con">
                        <input type="password" id="oldPassword" name="oldPassword" value="" class="span"
                               placeholder="Old password">
                    </div>
                </div>

                <div class="wr-list">
                    <div class="wr-list-label">New password</div>
                    <div class="wr-list-con">
                        <input type="password" id="newPassword" name="newPassword" value="" class="span"
                               placeholder="Old password">
                    </div>
                </div>

                <div class="wr-list">
                    <div class="wr-list-label">New password confirm</div>
                    <div class="wr-list-con">
                        <input type="password" id="newPasswordConfirm" name="newPasswordConfirm" value="" class="span"
                               placeholder="Old password">
                    </div>
                </div>
            </div>

            <div class="btnSet">
                <a href="#" class="btn submit">확인</a>
            </div>
        </div>
    </form>
</section>


<style>
    #fileForm > .filebox {
        display: none;
    }

    #display_date {
        width: 100px;
        text-align: center;
    }
</style>

<script src="/cozyfex/js/form/datepicker/datepicker.js"></script>
<script src="/cozyfex/js/form/datepicker/datepicker.ko-KR.js"></script>

<script type="text/javascript">
    $(function () {
        $('.submit').click(function () {
            let $oldPassword = $('#oldPassword')
            let $newPassword = $('#newPassword')
            let $newPasswordConfirm = $('#newPasswordConfirm')

            if (!$oldPassword.val()) {
                alert('Please input old password.')
                $oldPassword.focus()
                return false
            }
            if (!$newPassword.val()) {
                alert('Please input new password.')
                $newPassword.focus()
                return false
            }
            if (!$newPasswordConfirm.val()) {
                alert('Please input new password confirm.')
                $newPasswordConfirm.focus()
                return false
            }

            $('#form').submit()
            return false
        })
    })
</script>