<div id="pop-find-pw" class="layerPopup zoom-anim-dialog mfp-hide">
    <div class="popcon-wrapper">

        <header class="pop-header">
            Find your Password
        </header>

        <div class="pop-frm">
            <form name="" method="" action="">
                <ul>
                    <li>
                        <input id="username" type="text" class="" placeholder="Username">
                    </li>
                    <li>
                        <input id="email" type="email" class="" placeholder="Recovery email">
                    </li>
                    <li>
                        <input id="firstname" type="text" class="" placeholder="First name">
                        <input id="lastname" type="text" class="" placeholder="Last name">
                    </li>
                </ul>
                <div class="btnSet">
                    <button type="button" class="submit btnFindPassword">Confirm</button>
                </div>
            </form>
        </div>

    </div>
</div>