<div id="pop-join" class="layerPopup zoom-anim-dialog mfp-hide">
    <div class="popcon-wrapper">

        <header class="pop-header">
            Create an account
        </header>

        <div class="pop-frm">
            <form name="" method="" action="">
                <ul>
                    <li>
                        <input id="firstname" type="text" class="" placeholder="Firstname">
                        <input id="lastname" type="text" class="" placeholder="Lastname">
                    </li>
                    <li>
                        <input id="affiliation" type="text" class="" placeholder="Affiliation">
                    </li>

                    <li class="mt25">
                        <input id="username" type="text" class="" placeholder="Username">
                    </li>
                    <li>
                        <input id="email" type="email" class="" placeholder="Email Address">
                    </li>
                    <li>
                        <input id="password" type="password" class="" placeholder="password">
                    </li>
                    <li>
                        <input id="password-confirm" type="password" class="" placeholder="Confirm Password">
                    </li>
                </ul>
                <div class="btnSet">
                    <button type="button" class="submit btnSignUp">Sign Up</button>
                </div>
            </form>
        </div>

    </div>
</div>