<div id="pop-login" class="layerPopup zoom-anim-dialog mfp-hide">
    <div class="popcon-wrapper">

        <header class="pop-header tcenter">
            <img src="/img/logo.png">
            <div class="deco-title"><span>login</span></div>
        </header>

        <div class="pop-frm">
            <form name="" method="" action="">
                <ul>
                    <li>
                        <label>USERNAME</label>
                        <input id="username" type="text" class="" placeholder="Username">
                    </li>
                    <li>
                        <label>PASSWORD</label>
                        <input id="password" type="password" class="" placeholder="Password">
                    </li>
                </ul>
                <div class="btnSet">
                    <button type="button" class="submit btnLogin">LOGIN</button>
                    <div class="flex mt10 mtm15">
                        <a href="#pop-find-id" class="txt-link popup-inline">Find Username</a>
                        <span class="or">OR</span>
                        <a href="#pop-find-pw" class="txt-link popup-inline">Find Password</a>
                        <a href="#pop-join" class="txt-link popup-inline right">SIGN UP</a>
                    </div>
                    <a href="/user/google/login" class="btn-google btnGoogleLogin">Google LOGIN</a>
                </div>
            </form>
        </div>

    </div>
</div>
