<div class="subpage">

    <div class="sub-top"
         style="background-image:url('/img/subpage/top/sub-top-ces{{#if locals.isMobile}}-mobile{{/if}}.png')">
        <div class="txtCon">
            <div class="h1 wow fadeInRight" data-wow-duration="1.4s" data-wow-delay="0.1s">Web Service</div>
            <p class="wow fadeInRight" data-wow-duration="1.4s" data-wow-delay="0.3s">
                <!-- Lorem Ipsum is simply dummy text of the printing<br>
                and typesetting industry.  -->
            </p>
        </div>
    </div>

    <section class="secConainer">
        <div class="sub-title">Query</div>
        <ul class="ul-exp">
            <li class=" wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                <div class="inner">
                    Conjunction Assessment : <br><span style="font-style: italic;">Free of Charge</span>
                    <a href="/cesium/q1" class="link-exp">EXPLORE</a>
                </div>
            </li>
            <li class="disabled wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                <div class="inner">
                    Maneuver Optimization
                    <span class="link-exp">EXPLORE</span>
                </div>
            </li>
            <li class="disabled wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="inner">
                    Trespasser Catcher
                    <span class="link-exp">EXPLORE</span>
                </div>
            </li>
            <li class="disabled wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
                <div class="inner">
                    Launch Scheduling
                    <span class="link-exp">EXPLORE</span>
                </div>
            </li>
            <li class="disabled wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                <div class="inner">
                    Data Transmission Optimization
                    <span class="link-exp">EXPLORE</span>
                </div>
            </li>
            <li class="disabled wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="inner">
                    Watcher Catcher
                    <span class="link-exp">EXPLORE</span>
                </div>
            </li>
        </ul>

        <div class="sub-title">Query Result</div>
        <ul class="ul-exp">
            <li class="disabled wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
                <div class="inner">
                    Output Archive
                    <span class="link-exp">EXPLORE</span>
                </div>
            </li>
        </ul>
    </section>
</div>


<script>
    $('.slide-img-con').each(function() {
        var section_thumb = $(this);
        var mySwiper = new Swiper($(section_thumb.find('.swiper-container')), {
            slidesPerView: 1,
            spaceBetween: 20,
            centeredSlides: true,
            autoHeight: true,
            onSlideChangeStart: function() {},
            onSlideChangeEnd: function() {
                if ($('.swiper-slide-prev video, .swiper-slide-next video').length) {
                    $('.swiper-slide-prev video, .swiper-slide-next video').get(0).pause();
                }
            },
            prevButton: $(section_thumb.find('.swiper-prev')),
            nextButton: $(section_thumb.find('.swiper-next')),
            pagination: $(section_thumb.find('.swiper-pagination')),
            paginationClickable: true,
        });
    });
</script>