<div class="subpage">

    <div id="cesium-top">
        <div id="cesium_api"><!-- API 불러올 영역 -->
            <div id="cesiumContainer"></div>
        </div>

        <div class="cesium-search">
            <div class="title"><label>[Q*]</label>Watcher Catcher</div>
            <div class="inner">
                <span class="toggle-btn"></span>
                <div class="subject"><span>About Q*</span></div>
                <div class="toggle-container">
                    <p>reports the solutions of either k-NN or theta-NN problem of "OOI" for all moments of "Time
                        increment" during "TOI" (TOI: Time-of-interest). A k-NN problem is to find k nearest neighbors
                        of OOI and a theta-NN problem is to find all neighbors within theta km, which is given in "Probe
                        radius", from the OOI, both for a given moment.</p>

                    <div class="ces-frm">
                        <form name="" method="" action="">
                            <ul class="ces-frm-ul">
                                <li class="block">
                                    <span class="color-yellow">Target site</span>
                                </li>
                                <li>
                                    <label>Latitude</label>
                                    <div class="frmCon"><input type="text" value="39227" class="" placeholder=""></div>
                                </li>
                                <li>
                                    <label>Longitude</label>
                                    <div class="frmCon"><input type="text" value="39227" class="" placeholder=""></div>
                                </li>
                            </ul>

                            <ul class="ces-frm-ul">
                                <li class="block">
                                    <span class="color-yellow">TOI (Time-of-Interest)</span>
                                    <p>You may choose [1] and [2] from the calendar (in the 48h-long timeline at the
                                        bottom of the visualization panel).</p>
                                </li>
                                <li>
                                    <label>[1] From (UTC)</label>
                                    <div class="frmCon"><input type="text" value="" class="datetimepicker"
                                                               placeholder=""></div>
                                </li>
                                <li>
                                    <label>[2] To (UTC)</label>
                                    <div class="frmCon"><input type="text" value="" class="datetimepicker"
                                                               placeholder=""></div>
                                </li>
                                <li>
                                    <label>Time Increment</label>
                                    <div class="frmCon">
                                        <div class="flex flex-bottom">
                                            <input type="text" value="10" class="flex1" placeholder="">
                                            <span class="ml5">(sec)</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <ul class="ces-frm-ul label160">
                                <li class="block">
                                    <span class="color-yellow">Conditions</span>
                                </li>
                                <li>
                                    <label>Threshold (km)</label>
                                    <div class="frmCon"><input type="text" value="1000" class="" placeholder=""></div>
                                </li>
                                <li>
                                    <label>Coverage angle (deg.)</label>
                                    <div class="frmCon"><input type="text" value="30" class="" placeholder=""></div>
                                </li>
                            </ul>

                            <div class="frm-btnSet">
                                <button type="button" class="submit">submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="cesium-outout">
        <div class="tbl-result">
            <div class="tbl-top">
                <label class="checkbox-wrap">
                    <input type="checkbox" name="output_show" class="output_show" checked>
                    <span></span>
                    <p>payloads Output table printed under graphic window.</p>
                </label>
            </div>
            <div class="tableCaption">Result</div>
            <div class="tblContainer">
                <div class="div-table">
                    <div class="header">
                        <span class="index">Index</span>
                        <span class="visualize">Visualize</span>
                        <span class="primary">Primary</span>
                        <span class="secondary">Secondary</span>
                        <span class="dca">DCA (km)</span>
                        <span class="start">Start</span>
                        <span class="tca">TCA</span>
                        <span class="end">End</span>
                    </div>
                    <div class="body">
                        <ul>
                            {{#if locals.isMobile}}
                                {{#each (Array 5)}}
                                    <li>
                                        <label>
                                            <span class="index" data-label="index">{{sum @index 1}}</span>
                                            <span class="visualize" data-label="Visualize">
                                                <input type="radio" name="radio" class="default">
                                                <span></span>
                                            </span>
                                            <span class="primary" data-label="Primary">39227</span>
                                            <span class="secondary" data-label="Secondary">46495</span>
                                            <span class="dca" data-label="DCA (km)">3.216</span>
                                            <span class="start" data-label="Start">-</span>
                                            <span class="tca" data-label="TCA">Thu, 09 Dec 2021 11:22:26 GMT</span>
                                            <span class="end" data-label="End">-</span>
                                        </label>
                                    </li>
                                {{/each}}
                            {{else}}
                                {{#each (Array 25)}}
                                    <li>
                                        <label>
                                            <span class="index" data-label="index">{{sum @index 1}}</span>
                                            <span class="visualize" data-label="Visualize">
                                                <input type="radio" name="radio" class="default">
                                                <span></span>
                                            </span>
                                            <span class="primary" data-label="Primary">39227</span>
                                            <span class="secondary" data-label="Secondary">46495</span>
                                            <span class="dca" data-label="DCA (km)">3.216</span>
                                            <span class="start" data-label="Start">-</span>
                                            <span class="tca" data-label="TCA">Thu, 09 Dec 2021 11:22:26 GMT</span>
                                            <span class="end" data-label="End">-</span>
                                        </label>
                                    </li>
                                {{/each}}
                            {{/if}}
                        </ul>
                        {{#if locals.isMobile}}
                            <div class="more">See More</div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>

<script>
    $('.tblResult .output_show').click(function() {
        var checked = $(this).is(':checked'),
                tblContainer = $('.tblResult .tblContainer');

        if (checked) {
            $(tblContainer).slideDown(700, 'easeInOutExpo');
        } else {
            $(tblContainer).slideUp(700, 'easeInOutExpo');
        }
    });

</script>