<div class="subpage">

    <div id="cesium-top">
        <div id="cesium_api">
            <!-- API 불러올 영역 -->
        </div>


        <div class="cesium-search">
            <div class="title"><label>[Q5]</label>Data Transmission Optimization</div>
            <div class="inner">
                <span class="toggle-btn"></span>
                <div class="subject"><span>About Q5</span></div>
                <div class="toggle-container">
                    <p>reports the shortest paths between two cities through satellites (Starlink satellites, at the
                        moment) for every ten-second increment during "TOI". Two cities can be selected from the menu
                        and the path is represented as a chain of line segments between the two cities where each line
                        segment connects two satellites (Starlink satellites, at the moment). The starting and ending
                        satellites are those nearest to the cities at every moment.</p>

                    <div class="ces-frm">
                        <form name="" method="" action="">
                            <ul class="ces-frm-ul">
                                <li>
                                    <label>From</label>
                                    <div class="frmCon">
                                        <select>
                                            <option value="">Seoul</option>
                                            <option value="">New York</option>
                                            <option value="">...</option>
                                            <option value="">...</option>
                                        </select>
                                    </div>
                                </li>
                                <li>
                                    <label>To</label>
                                    <div class="frmCon">
                                        <select>
                                            <option value="">Seoul</option>
                                            <option value="">New York</option>
                                            <option value="">...</option>
                                            <option value="">...</option>
                                            <option value="">...</option>
                                        </select>
                                    </div>
                                </li>
                            </ul>

                            <ul class="ces-frm-ul">
                                <li class="block">
                                    <span class="color-yellow">TOI (Time-of-Interest)</span>
                                    <p>You may choose [1] and [2] from the calendar (in the 48h-long timeline at the
                                        bottom of the visualization panel).</p>
                                </li>
                                <li>
                                    <label>[1] From (UTC)</label>
                                    <div class="frmCon"><input type="text" value="" class="datetimepicker"
                                                               placeholder=""></div>
                                </li>
                                <li>
                                    <label>[2] To (UTC)</label>
                                    <div class="frmCon"><input type="text" value="" class="datetimepicker"
                                                               placeholder=""></div>
                                </li>
                            </ul>

                            <div class="frm-btnSet">
                                <button type="button" class="submit">submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="cesium-outout">
        <div class="tbl-result">
            <div class="tbl-top">
                <label class="checkbox-wrap">
                    <input type="checkbox" name="output_show" class="output_show" checked>
                    <span></span>
                    <p>payloads Output table printed under graphic window.</p>
                </label>
            </div>
            <div class="tableCaption">Result</div>
            <div class="tblContainer">
                <div class="div-table">
                    <div class="header">
                        <span class="index">Index</span>
                        <span class="visualize">Visualize</span>
                        <span class="primary">Primary</span>
                        <span class="secondary">Secondary</span>
                        <span class="dca">DCA (km)</span>
                        <span class="start">Start</span>
                        <span class="tca">TCA</span>
                        <span class="end">End</span>
                    </div>
                    <div class="body">
                        <ul>
                            {{#if locals.isMobile}}
                                {{#each (Array 5)}}
                                    <li>
                                        <label>
                                            <span class="index" data-label="index">{{sum @index 1}}</span>
                                            <span class="visualize" data-label="Visualize">
                                                <input type="radio" name="radio" class="default">
                                                <span></span>
                                            </span>
                                            <span class="primary" data-label="Primary">39227</span>
                                            <span class="secondary" data-label="Secondary">46495</span>
                                            <span class="dca" data-label="DCA (km)">3.216</span>
                                            <span class="start" data-label="Start">-</span>
                                            <span class="tca" data-label="TCA">Thu, 09 Dec 2021 11:22:26 GMT</span>
                                            <span class="end" data-label="End">-</span>
                                        </label>
                                    </li>
                                {{/each}}
                            {{else}}
                                {{#each (Array 25)}}
                                    <li>
                                        <label>
                                            <span class="index" data-label="index">{{sum @index 1}}</span>
                                            <span class="visualize" data-label="Visualize">
                                                <input type="radio" name="radio" class="default">
                                                <span></span>
                                            </span>
                                            <span class="primary" data-label="Primary">39227</span>
                                            <span class="secondary" data-label="Secondary">46495</span>
                                            <span class="dca" data-label="DCA (km)">3.216</span>
                                            <span class="start" data-label="Start">-</span>
                                            <span class="tca" data-label="TCA">Thu, 09 Dec 2021 11:22:26 GMT</span>
                                            <span class="end" data-label="End">-</span>
                                        </label>
                                    </li>
                                {{/each}}
                            {{/if}}
                        </ul>
                        {{#if locals.isMobile}}
                            <div class="more">See More</div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>

<script>
    $('.tblResult .output_show').click(function() {
        var checked = $(this).is(':checked'),
                tblContainer = $('.tblResult .tblContainer');

        if (checked) {
            $(tblContainer).slideDown(700, 'easeInOutExpo');
        } else {
            $(tblContainer).slideUp(700, 'easeInOutExpo');
        }
    });

</script>