<div id="company" class="subMain">

    <section class="company-bg1" style="background-image:url('/img/subpage/company/company-bg1.png');">

        <div class="container">
            <div class="sub-title mainColor wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.1s">About</div>
            <div class="tab-wrapper">
                <div class="tabsContainer">
                    <div class="txtCon">
			<p>
				SPACEMAP INC. is a K-startup company which was founded in September, 2021 as  a spin-off of School of Mechanical Engineering, Hanyang University, Korea. The initial idea was motivated by research funded by the US Air Force about conjunction assessment and maneuver planning which was based on the prior works done by Douglas Kim, CEO & Founder, as a Leader Research Initiative by National Research Foundation. The company is currently located in Seoul, Korea. It participated in AMOS2021 and CES2022.
			</p>
			<p>
				42 is the answer to the Ultimate Question of life, the universe, and everything. Deep Thought, a computer of a small planet size, had to calculate over 7.5 million years to find the answer to the Ultimate Question. This is a story from The Hitchhiker’s Guide to the Galaxy written by Douglas Adams. SPACEMAP aims to find solutions to hard space problems faster than Deep Thought.
			</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container our-team">
            <div class="txtCon">
                <p class="sub-title mainColor wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.1s">Our Team</p>
            </div>
            <div class="swiper-container">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide">
                        <div class="thumb"><img src="/img/main/team01.png"></div>
                        <div class="listCon">
                            <div class="subject">Deok-Soo (Doug) Kim</div>
                            <p class="info">CEO & Founder</p>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="thumb"><img src="/img/main/team02.png"></div>
                        <div class="listCon">
                            <div class="subject">Peter JH Ryu</div>
                            <p class="info">Partner in Hanyang University</p>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="thumb"><img src="/img/main/team03.png"></div>
                        <div class="listCon">
                            <div class="subject">Shawn SH Choi</div>
                            <p class="info">Partner in Hanyang University</p>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="thumb"><img src="/img/main/team04.png"></div>
                        <div class="listCon">
                            <div class="subject">Hee Yol Yu</div>
                            <p class="info">Senior Advisor</p>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="thumb"><img src="/img/main/team05.png"></div>
                        <div class="listCon">
                            <div class="subject">Sang Rim Choi</div>
                            <p class="info">Senior Advisor</p>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="thumb"><img src="/img/main/team06.jpg"></div>
                        <div class="listCon">
                            <div class="subject">Misoon Y. Mah, President and CEO of M&K Research and Development, Inc
                            </div>
                            <p class="info">Senior Advisor</p>
                        </div>
                    </li>
                </ul>
                <span class="swiper-prev"></span>
                <span class="swiper-next"></span>
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <!-- slideWrapper -->
        <!--<div class="slideWrapper our-team">
            <div class="sub-title mainColor wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.1s">Our Team</div>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="thumb"><img src="/img/main/team01.jpg"></div>
                        <div class="slideCon">
                            <div class="subject">Douglas DS Kim</div>
                            <p class="subCon">
                            </p>
                            <p class="info">CEO & Founder</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="thumb"><img src="/img/main/team02.jpg"></div>
                        <div class="slideCon">
                            <div class="subject">Peter JH Ryu</div>
                            <p class="subCon">
                            </p>
                            <p class="info">Partners in Hanyang University</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="thumb"><img src="/img/main/team03.jpg"></div>
                        <div class="slideCon">
                            <div class="subject">Shawn SH Choi</div>
                            <p class="subCon">
                            </p>
                            <p class="info">Partners in Hanyang University</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="thumb"><img src="/img/main/team04.jpg"></div>
                        <div class="slideCon">
                            <div class="subject">HY Ryu</div>
                            <p class="subCon">
                            </p>
                            <p class="info">Advisors</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="thumb"><img src="/img/main/team05.jpg"></div>
                        <div class="slideCon">
                            <div class="subject">Sanglim Choi</div>
                            <p class="subCon">
                            </p>
                            <p class="info">Advisors</p>
                        </div>
                    </div>

                </div>
                <span class="swiper-prev"></span>
                <span class="swiper-next"></span>
                <div class="swiper-pagination"></div>
            </div>
        </div>-->
        <!-- //slideWrapper -->

        <div class="container">
            <div class="sub-title mainColor wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.1s">History</div>
            <div class="tab-wrapper">
                <div class="tabsContainer">
                    <div class="txtCon">
                        <p>
                            SPACEMAP Inc. was founded in September, 2021. The early official activities are the
                            participations to AMOS2021 and CES2022
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- contactUs -->
        <div id="contactUs" class="container mtm100">
            <div class="sub-title mainColor wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.1s">Contact</div>
            <!--<header>
                <span class="m-logo" alt="spacemap">SPACEMAP</span>
                <p>
                    SpaceMap is a K-startup company that aims to be "The Satellite's Guide to the Galaxy."<br>
                    Our objective is to provide best-possible solutions in realtime or near realtime in order to support your decision-making in hard space problems.<br>
                    We will contribute to keep the space safer, more sustainable and useful. We are looking forward to helping you.
                </p>
            </header>-->

            {{>contactUs}}

        </div>
        <!-- //contactUs -->

		<!-- hiring -->
		<div id="hiring" class="container">
			<div class="txtCon">
				<p class="sub-title mainColor wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.1s">Jobs</p>
			</div>
			<div class="hiring-title">
				WE ARE<br>HIRING
			</div>

		</div>
		<!-- //hiring -->

    </section>

</div>

<script>
        {{#if locals.isMobile}}
        var swiper = new Swiper('.our-team .swiper-container', {
            slidesPerView: 3.2,
            spaceBetween: 85,
            centeredSlides: false,
            prevButton: '.our-team .swiper-prev',
            nextButton: '.our-team .swiper-next',
            pagination: '.our-team .swiper-pagination',
            paginationClickable: true,
            breakpoints: {
                1630: {
                    slidesPerView: 3,
                    spaceBetween: 80,
                },
                1480: {
                    slidesPerView: 2.8,
                    spaceBetween: 70,
                },
                1320: {
                    slidesPerView: 2.5,
                    spaceBetween: 50,
                },
                1120: {
                    slidesPerView: 2,
                    spaceBetween: 50,
                },
                1020: {
                    slidesPerView: 1.5,
                    spaceBetween: 40,
                },
                680: {
                    slidesPerView: 1,
                    spaceBetween: 30,
                },
            },
        });
        {{/if}}
    var swiper = new Swiper('.hiring .swiper-container', {
        slidesPerView: 1,
        spaceBetween: 80,
        centeredSlides: true,
        prevButton: '.hiring .swiper-prev',
        nextButton: '.hiring .swiper-next',
        pagination: '.hiring .swiper-pagination',
        paginationClickable: true,
    });

    //tab 컨트롤
    $('.tab-wrapper .tab').click(function(event) {
        var target = $(this).attr('data-target');
        $(this).siblings('.tab').removeClass('active');
        $(this).addClass('active');
        $(this).parent().parent().parent().find('.tabsContainer').hide();
        $('#' + target).show();
    });
</script>
