<div id="intro" class="height-auto2">
    <div class="inner">
        <div class="logo"></div>
        <!--<img src="/img/intro-logo.png" class="intro-logo">-->
        <div class="subCopy">The Satellite's Guide to the Galaxy</div>
    </div>
</div>