<div class="subpage" id="service01">

    <div class="sub-top"
         style="background-image:url('/img/subpage/top/sub-top01{{#if locals.isMobile}}-mobile{{/if}}.png')">
        <div class="txtCon">
            <div class="h1 wow fadeInRight" data-wow-duration="1.4s" data-wow-delay="0.1s">Services</div>
            <p class="wow fadeInRight" data-wow-duration="1.4s" data-wow-delay="0.3s">
                SpaceMap provides realtime or near realtime<br>
                services upon customer-supplied input parameters.<br>
                The services include the followings.
            </p>
        </div>
    </div>

    <section class="secConainer">
        <div class="section-title">Search Services</div>

        <ul class="ul-container">
            <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                <div class="img-con" style="display:none;">
                    <img src="/img/subpage/img01.png">
                    <p class="img-info tcenter">
                        A conjunction detected between two Starlink satellites
                    </p>
                </div>
                <div class="contents-box">
                    <div class="box-title">Conjunction Assessment</div>
                    <!-- <div class="box-sub-title">Am I gonna be hit by someone else?</div> -->
                    <p>
						We predict conjunctions and collision risks over seven days in timeline for all RSOs. The object-of-interest can be one, a few, or even the entire catalogue. You may also specify an observation time window. Data transmission is the bottleneck for this turnaround time. We plan to keep this service free of charge.
                    </p>
                    <a href="/cesium/q1" class="link-exp wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">EXPLORE</a>
                </div>
            </li>

            <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                <div class="img-con" style="display:none;">
                    <img src="/img/subpage/img02.png">
                    <p class="img-info">
                        RSOs which approaches STARLINK-1093 within 400km during an hour.<br>
                        <span class="color-blue">blue line: approaching RSO;</span><br class="mobile-only"> <span
                            class="color-red">red line: going-away RSO</span>
                    </p>
                </div>
                <div class="contents-box">
                    <div class="box-title">Trespasser Catcher</div>
                    <!-- <div class="box-sub-title">Who will be trespassing my backyard?</div> -->
                    <p>
						We find the trespassers to your backyard tomorrow, i.e. those who will approach my space asset within your threshold distance in timeline. Succeeding statistical analyses can discover critical information about adversarial activities. You may also specify an observation time window. This can be useful for space security purpose, constellation maintenance, etc. 
                    </p>
                    <a href="/cesium/q1" class="link-exp wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">EXPLORE</a>
                </div>
            </li>

            <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                <div class="img-con" style="display:none;">
                    <img src="/img/subpage/img02.png">
                    <p class="img-info">
                        Starlink satellites flying over Seoul with a field-of-view 30 degree<br>
                    </p>
                </div>
                <div class="contents-box">
                    <div class="box-title">Watcher Catcher</div>
                    <!-- <div class="box-sub-title">Who will be watching me?</div> -->
                    <p>
						We identify the objects which is within the field-of-view (FoV) at a location where both are specified by you. You may also specify an observation time window. If the FoV is replaced by the photograph-angle of individual satellite, the satellites which can spy the location can be found. This function can be used as a building block for advanced features such as spectrum interference avoidance. 
                    </p>
                    <a href="/cesium/q1" class="link-exp wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">EXPLORE</a>
                </div>
            </li>
        </ul>

    </section>
</div>
