<div class="subpage" id="service04">

    <div class="sub-top"
         style="background-image:url('/img/subpage/top/sub-top01{{#if locals.isMobile}}-mobile{{/if}}.png')">
        <div class="txtCon">
            <div class="h1 wow fadeInRight" data-wow-duration="1.4s" data-wow-delay="0.1s">Services</div>
            <p class="wow fadeInRight" data-wow-duration="1.4s" data-wow-delay="0.3s">
                SpaceMap provides realtime or near realtime<br>
                services upon customer-supplied input parameters.<br>
                The services include the followings.
            </p>
        </div>
    </div>

    <section class="secConainer">
        <div class="section-title">Data Analytics Services</div>

        <ul class="ul-container">
			<li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
				<div class="textCon">					
					<div class="box-title">Current Catalogue Analytics</div>
					<p>
						We can produce useful statistics about spatiotemporal events based on the space catalogue and telemetry data. Examples include the basic ones related with conjunctions and advanced ones such as identifying the trespassers those who approaches my space assets within a threshold range, catching the spy satellites above my presence in timeline, etc. Inquiries are welcome for any type of other events among space objects in timeline. 
					</p>
					<a href="/cesium/q1" class="link-exp wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">EXPLORE</a>
				</div>
			</li>

			<li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
				<div class="textCon">					
					<div class="box-title">New Constellation Analytics</div>
					<p>
						Concerns arise when you want to insert a new constellation into an orbit. The primary concern is conjunction: You need to have statistics related with conjunctions, e.g. intra-constellation conjunction and the one between the new constellation and the current space catalogue. The coverage of communication footprint on the globe surface is another easily produced statistic. We can produce such statistics if you provide the information of your constellation. An optimal constellation design can be done by choosing the best result from multiple execution of this service with different system parameters. This service would be valuable for owners of new constellation, organizations such as FCC and ITU, insurance companies, etc. 
					</p>
					<a href="/cesium/q1" class="link-exp wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">EXPLORE</a>
				</div>
			</li>

        </ul>

    </section>
</div>
